* {
    margin: 0;
    padding: 0;
    font-family: gilroy;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

.main {
    height: 100%;
    width: 100%;
    background-color: #fff;
}

.topnav {
    height: 15%;
    width: 100%;
    /* background-color: gray; */
}

.topnav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 0px 20px; */

}

.topnav h1 {
    font-family: monument;
    margin-left: 60px;
    text-transform: capitalize;
    font-size: 25px;
}

.topnav nav {
    margin-right: 60px;
    display: flex;
    font-weight: 600;
    gap: 30px;
    font-size: 20px;
    text-transform: capitalize;

}

nav a {
    text-decoration: none;
    color: #000;
}

nav a:hover {
    color: #fda90c;
}

.secondnav {
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 12%;
    width: 100%;
    background-color: rgb(206, 203, 203);
    transition: all ease .3s;
}

.secondnav nav a:hover {
    scale: 1.1;
    color: rgb(245, 130, 48);
}

.secondnav button {
    background-color: #fffafa;
    font-size: 22px;
    text-transform: capitalize;
    padding: 10px 20px;
    border-radius: 50px;
    border: none;
    cursor: pointer;

}

.secondnav button:hover {
    background-color: rgb(245, 130, 48);
}

.secondnav nav {
    font-size: 20px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    gap: 30px;
    font-weight: 500;
}

.bgimage {
    height: 73%;
    width: 100%;
    background-size: contain;
    background-position: center;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT8ofIL4CG9mGHOBtWrI_KDenIEWGFhaP5_yA&usqp=CAU);
    background-color: rgb(127, 255, 212);
    position: relative;
}

.bgimage .cover {
    color: #fff;
    height: 100%;
    width: 100%;
    background-color: rgba(15, 15, 15, 0.11);
}

.cover h2 {
    margin-left: 70px;
    letter-spacing: 1px;
    font-size: 60px;
    text-transform: capitalize;
    padding-top: 7%;

}

.cover p {
    margin-left: 70px;
    margin-top: 50px;
    font-size: 31px;
    font-weight: bold;
    letter-spacing: 1.5px;
    text-transform: capitalize;
}

.cover button {
    cursor: pointer;
    color: #fff;
    margin-left: 60px;
    font-size: 20px;
    font-weight: 700;
    padding: 10px 25px;
    text-transform: capitalize;
    border-radius: 50px;
    margin-top: 60px;
    border: 1.5px solid #fff;
    background-color: transparent;
}

.cover .btn {

    border: none;
}

.page2 {
    padding-top: 1px;
    height: 100%;
    width: 100%;
    position: relative;
    /* background-color: aquamarine; */
}

.page2 h1 {
    font-family: gilroy;
    margin-left: 35%;
    padding: 12px;
    width: 30%;
    text-align: center;
    font-size: 25px;
    text-transform: capitalize;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 20px;
    border-bottom: 2px solid gray;
}

.page2 p {
    font-size: 17px;
    margin-left: 20%;
    text-align: center;
    width: 60%;
    margin-top: 20px;
}

.page2 .center {
    position: relative;
    display: flex;
    margin-top: 30px;
    height: 80%;
    width: 100%;
    /* background-color: beige; */
}

.page2 .center .left {
    height: 100%;
    width: 50%;
    background-color: red;
    /* background-image: url(https://images.unsplash.com/flagged/photo-1553028826-ccdfc006d078?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE3fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60);
            background-size: cover;
            background-position: center; */

}

.page2 .left img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.page2 .center .right {
    border-top: 1px solid black;
    height: 100%;
    width: 50%;
    background-color: rgba(25, 77, 146, 0.726);
    color: #fff;

}

.center .right h2 {
    margin-left: 40px;
    margin-top: 30px;
    padding: 10px;
    font-weight: 500;
    text-transform: capitalize;
    font-size: 30px;
}

.right .business1 {
    margin: 20px;
    display: flex;
    margin-left: 50px;
    height: 90px;
    width: 80%;
    /* background-color: aquamarine; */
}

.business1 .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    height: 90px;
    width: 90px;
    font-size: 35px;
    color: #000;
    background-color: rgb(235, 230, 230);
    transition: .5s;
}

.business1 .circle:hover {
    cursor: pointer;
    color: #fff;
    background-color: #464242;
}

.business1 p {
    width: 80%;
    margin-left: 20px;
    font-size: 18px;
    text-align: start;
}

.right button {
    cursor: pointer;
    border: 2px solid rgb(73, 71, 71);
    font-weight: 600;
    color: #464242;
    border-radius: 50px;
    padding: 10px 30px;
    /* margin-top: 10px; */
    margin-left: 45px;
    font-size: 17px;
    text-transform: capitalize;
}

.right button:hover {
    color: #fff;
    background-color: rgba(240, 100, 7, 0.904);
}

.page {
    height: 100vh;
    width: 100%;
    /* background-color: aquamarine; */
}

.page3 {
    padding-top: 0.9px;
    height: 93vh;
    width: 100%;
    /* background-color: aquamarine; */
}

.page3 h2 {
    font-family: gilroy;
    margin-left: 35%;
    padding: 12px;
    width: 30%;
    text-align: center;
    font-size: 25px;
    text-transform: capitalize;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 20px;
    /* border-bottom: 2px solid gray; */
}

.page3 .btn {
    margin-top: 30px;
    margin-left: 31%;
    /* text-align: center; */
    display: flex;
    gap: 60px;


    /* display: flex; */

}

.btn button {
    transition: .5s ease;
    cursor: pointer;
    position: relative;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 18px 28px;
    font-size: 30px;
    font-weight: 700;
    text-transform: capitalize;
}

.btn button sup {
    position: absolute;
    top: 7px;
    /* margin-top: -50px; */
    margin-left: -132px;
    font-size: 13px;
}

.btn button:hover {
    scale: 1.2;
    color: #868282;
}

.page3 .benner {
    align-items: center;
    justify-content: center;
    gap: 40px;
    display: flex;
    padding-top: 1px;
    margin-top: 7%;
    height: 300px;
    width: 100%;
    background-color: #464242;
    background-image: url(https://images.unsplash.com/photo-1516321318423-f06f85e504b3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGNvbXB1dGVyfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    background-position: left;

}

.benner .box1 {
    color: #fff;
    padding: 1px;
    margin: 20px;
    text-align: center;
    height: 250px;
    width: 250px;
    background-color: #d6cfcf9a;
}

.benner .box1 h1:nth-child(1) {
    margin-top: 50px;
}

.benner .box1 h1 {
    padding: 4px;

    font-family: gilroy;
    font-weight: 700;
    font-size: 40px;
}

.benner .box1 p {
    /* padding: 6px; */
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 600;
}

.page4 {
    position: relative;
    padding: 1px;
    height: 100%;
    width: 100%;
    /* background-color: aquamarine; */
}

.page4 h1 {
    left: 38%;
    top: 0px;
    position: absolute;
    /* margin-left: 80%; */
    width: 20%;
    padding-bottom: 20px;
    border-bottom: 2px solid gray;
    margin: 40px;
    text-align: center;
    font-size: 25px;
    text-transform: capitalize;
    /* font-size: 25px; */
    text-transform: capitalize;
    font-weight: 600;
    letter-spacing: 1px;
}

.page4 .part {
    align-items: center;
    justify-content: center;
    gap: 30px;
    display: flex;
    left: 5px;
    top: 20%;
    position: absolute;
    height: 150px;
    width: 99%;
    /* background-color: rgb(52, 59, 57); */
}

.page4 .part .partbox {
    height: 150px;
    width: 200px;
    background-color: #fff;
}

.partbox img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
}

.bottompart {

    /* position: absolute; */
    height: 300px;
    width: 100%;
    background-color: #fff;
    /* background-image: url(); */
    position: relative;
    top: 50%;
}

.btmcover {
    padding: 1px;
    height: 300px;
    width: 100%;
    background-color: #4d45451a;
    /* position: relative; */
    top: 50%;
}

.btmcover h1 {

    /* position: absolute; */
    /* margin-left: 80%; */
    width: 20%;
    padding-bottom: 20px;
    border-bottom: 2px solid gray;
    margin: 30px;
    text-align: center;
    font-size: 25px;
    text-transform: capitalize;
    font-family: gilroy;
    font-size: 25px;
    text-transform: capitalize;
    font-weight: 600;
    letter-spacing: 1px;

}

.btmcover p {
    font-size: 17.5px;
    font-family: gilroy;
    margin-left: 17%;
    margin-top: 8%;
    text-align: center;
    width: 65%;

}

.btmcover h3 {
    margin-top: 40px;
    text-align: center;
    text-transform: capitalize;
    font-style: italic;
    font-size: 20px;
    font-weight: 500;
    font-family: gilroy;
}

.page5 {
    display: flex;
    padding: 1px;
    height: 60%;
    width: 100%;
    background-color: #d8d7d7;
}

.page5 .btmbox1 {
    position: relative;
    margin-top: 20px;
    margin-left: 30px;
    height: 80%;
    width: 200px;
    /* background-color: blueviolet; */
}

.btmbox1 h2 {
    padding-bottom: 15px;
    font-size: 25px;
    text-transform: capitalize;
    font-family: gilroy;
    font-weight: 500;

}

.btmbox1 li {
    line-height: 1.7rem;
    font-size: 12px;
    font-weight: 500;
    text-transform: capitalize;
    list-style: none;
}

.btmbox1 p {
    font-family: gilroy;
    text-transform: capitalize;
    bottom: -6%;
    position: absolute;
    width: 130%;
}

.btmbox2 {
    position: relative;
    margin-top: 20px;
    margin-left: 30px;
    height: 50%;
    width: 200px;
    /* background-color: #fff; */
}

.btmbox2 h2 {
    padding-bottom: 15px;
    font-size: 22px;
    text-transform: capitalize;
    font-family: gilroy;
    font-weight: 500;
}

.btmbox2 li {
    line-height: 1.7rem;
    font-size: 12px;
    font-weight: 500;
    text-transform: capitalize;
    list-style: none;

}

.btmbox2 button {
    background-color: #000000c2;
    color: #eee8e8;
    border: none;
    border-radius: 5px;
    margin: 10px;
    padding: 15px 22px;
    font-size: 18px;
    text-transform: capitalize;
    cursor: pointer;
    transition: .5s;
}

.btmbox2 button:hover {
    background-color: #eee8e8;
    color: #000000c2;
}

.btmbox3 {
    position: relative;
    margin-top: 20px;
    margin-left: 20px;
    height: 90%;
    width: 400px;
    /* background-color: #fff; */
}

.btmbox3 h2 {
    /* margin-top:10px ; */
    font-weight: 500;
    color: #474646;
}

.btmbox3 p {
    width: 70%;
    margin-top: 10px;
}

.btmbox3 input {
    margin-top: 30px;
    font-size: 18px;
    padding: 10px 5px;
    width: 70%;
}

.btmbox3 button {
    cursor: pointer;
    border: none;
    text-transform: capitalize;
    background-color: rgb(66, 63, 63);
    color: #fff;
    margin-top: 30px;
    font-size: 17px;
    padding: 10px 26px;
    transition: .3s;
}

.btmbox3 button:hover {
    scale: 1.2;
}

.btmbox3 i {
    margin-left: 5px;
    font-size: 28px;
    cursor: pointer;
    transition: .3s;
}

.btmbox3 i:hover {
    color: rgb(248, 66, 10);
    /* rotate: 360deg; */
}

.btmbox3 .a {
    margin-left: 40px;

}